@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;0,800;1,400;1,700;1,800&display=swap');

* {
    /* Colours */

    --purple: hsl(259, 100%, 65%);
    --light-red: hsl(0, 100%, 67%);
    --white: hsl(0, 0%, 100%);
    --off-white: hsl(0, 0%, 94%);
    --light-grey: hsl(0, 0%, 86%);
    --smokey-grey: hsl(0, 1%, 44%);
    --off-black: hsl(0, 0%, 8%);

    font-family: "Poppins", sans-serif;
    font-size: 1rem;
}

body {
    display: grid;
    place-content: center;
    box-sizing: border-box;
    background-color: var(--off-white);
}

main {
    background-color: var(--white);
    border-radius: 20px 20px 100px 20px;
    padding: 1.5em 0;
    
}

label {
    color: var(--smokey-grey);
    font-weight: 700;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

input {
    border: 2px solid var(--light-grey);
    border-radius: 7px;
    color: var(--off-black);
    padding: 0.5em;
    font-size: 1.25rem;
    font-weight: 700;
}

input:hover, input:active {
    border-color: var(--purple);
}

hr {
    width: 275px;
    position: relative;
    bottom: 58px;
    z-index: 1;
    border: 1px solid var(--off-white);
}

.input-container {
    display: flex;
    justify-content: space-evenly;
    column-gap: 1em;
    margin: 0 1.5em;
    max-height: 115px;
}

.day, .month, .year, .output-container, .btn-container {
    display: flex;
    flex-direction: column;
}

.btn-container {
    align-items: center;
    margin: 1.15em 1.5em 0;
}

.output-container {
    margin: 0 1.5em 1em;
}

.output-container > h1, .output-container > h1 > span {
    font-weight: 800;
    font-style: italic;
    font-size: 3rem;
    margin: 0;
}

.output-container > h1 > span {
    color: var(--purple);
}

.btn-age {
    border: none;
    margin: 1em 0.75em;
    padding: 1em;
    border-radius: 50%;
    background-color: var(--purple);
    height: 65px;
    width: 65px;
    z-index: 2;
}

.btn-age > img {
    max-width: 30px;
    max-height: 30px;
}

.btn-age:hover {
    background-color: var(--off-black);
}

.error {
    border-color: var(--light-red);
    color: var(--light-red);
}

.error-text {
    color: var(--light-red);
    font-weight: 400;
    font-style: italic;
    font-size: 0.75rem;
}

.attribution { 
    font-size: 0.75rem; 
    text-align: center; 
    margin: 2em 0;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
    font-size: 0.75rem;
}