@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;0,800;1,400;1,700;1,800&display=swap');

* {
    /* Colours */

    --purple: hsl(259, 100%, 65%);
    --light-red: hsl(0, 100%, 67%);
    --white: hsl(0, 0%, 100%);
    --off-white: hsl(0, 0%, 94%);
    --light-grey: hsl(0, 0%, 86%);
    --smokey-grey: hsl(0, 1%, 44%);
    --off-black: hsl(0, 0%, 8%);

    font-family: "Poppins", sans-serif;
    font-size: 1rem;
}

body {
    display: grid;
    place-content: center;
}

label {
    color: var(--smokey-grey);
    font-weight: 700;
    text-transform: uppercase;
}

input[type="number"] {
    border: 2px solid var(--light-grey);
    border-radius: 7px;
    color: var(--off-black);
    letter-spacing: 2px;
    max-width: 80px;
    padding: 0.5em;
    font-size: 1.25rem;
    font-weight: 700;
}

hr {
    width: 90%;
}

.input-container {
    display: flex;
    justify-content: space-evenly;
    column-gap: 0.5em;
}

.day, .month, .year, .output-container, .btn-container {
    display: flex;
    flex-direction: column;
}

.day, .month, .year {
    max-width: 50%;
}

.btn-container {
    align-items: center;
}

.output-container {
    margin: 0 1.5em 1em;
}

.output-container > h1, .output-container > h1 > span {
    font-weight: 800;
    font-style: italic;
    font-size: 3rem;
    margin: 0;
}

.output-container > h1 > span {
    color: var(--purple);
}

.btn-age {
    border: none;
    margin: 1em 0.75em;
    padding: 1em;
    border-radius: 50%;
    background-color: var(--purple);
    height: 65px;
    width: 65px;
}

.btn-age > img {
    max-width: 30px;
    max-height: 30px;
}

.attribution { 
    font-size: 0.75rem; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
    font-size: 0.75rem;
}